body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Heebo', sans-serif;
  ;
}

/* header is a container with 3 sections or sub containers*/
header {
  height: 600px;
  width: 100%;
}

/* section one of header, located at the top */
.header_decoration {
  height: 200px;
  width: 100%;
}

.header_decoration img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.logo img {
  color: white;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 20px;
  top: 0px;
  border-radius: 50%;
}

/* socila media icons */
.icons {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-flex;
  padding: 10px;
  margin: 10px;
  justify-content: space-around;
  width: 120px;
}

.icons .fa-facebook-f {
  color: white;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(96, 103, 240);
}

.icons .fa-twitter {
  color: white;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(96, 103, 240);
}

.icons .fa-instagram {
  color: white;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(96, 103, 240);
}

.icons .fa-youtube {
  color: white;
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(96, 103, 240);
}

/* sections 2 of header */
.nav_container {
  height: 80px;
  width: 100%;
  position: relative;
  left: 0;
  background-color: #3B44F6;
}

.nav_container .menu-btn {
  position: absolute;
  background: #454bba;
  color: #fff;
  height: 45px;
  width: 45px;
  z-index: 9999;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin: 10px 48%;
}

#btn:checked~.menu-btn {
  left: 45%;
  background: #F7EC09;
  color: #3B44F6;
}

.nav_container .menu-btn i {
  position: absolute;
  font-size: 23px;
  transition: all 0.3s ease;
  justify-content: space-between;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.nav_container .menu-btn i.fa-times {
  opacity: 0;
}

#btn:checked~.menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked~.menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

/* Section 3 of header */
#menubar {
  position: absolute;
  left: 0;
  background: #3B44F6;
  height: 150px;
  width: 100%;
  overflow: hidden;
  left: 0px;
  transition: all 0.3s ease;
  opacity: 0;
  justify-content: space-between;
  margin: auto;
}

#btn:checked~#menubar {
  left: 0;
  opacity: 1;
}

#menubar .title {
  display: block;
  position: relative;
  left: 0;
  line-height: 65px;
  text-align: center;
  background: #454bba;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  width: 100%;
}

#menubar .list-items {
  display: inline-flex;
  position: relative;
  background: #3B44F6;
  width: 100%;
  height: 100px;
  list-style: none;
  justify-content: center;
}

#menubar .list-items :hover {
  color: #F7EC09;
}

#menubar .list-items li {
  padding: 10px;
  line-height: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #333;
  transition: all 0.3s ease;
  justify-content: center;
}

#menubar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #3a42da;
  border-radius: 10%;
  height: 40px;
}

#menubar .list-items li:first-child {
  border-top: none;
}

#menubar .list-items li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

#menubar .list-items li a i {
  margin-right: 20px;
}

#menubar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: #f2f2f2;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#menubar .list-items .icons a:hover {
  background: #3B44F6;
}

.list-items .icons a:first-child {
  margin-left: 0px;
}

.search-container {
  position: absolute;
  display: flex;
  top: 350px;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.search-bar {
  position: relative;
  height: 60px;
  width: 100%;
  max-width: 450px;
  border-radius: 50px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-bar button {
  border: none;
}

.search-bar .search-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: white;
  background: #3a42da;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #3a42da;
}

::placeholder {
  color: #3a42da;
}


.newsletter { 
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url(/img/filled.jpg);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: 25% 60%;

}

.newsletter .background {
  position: absolute;
  width: 100%;
  height: 200px;
  -webkit-transform: translate(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent (90%);
  z-index: 2;

}

.newsletter h1 {
 color: white;
 padding: 40px;
 font-size: 18px;
}

.newsletter p {
  color: white;
  padding: 40px;
}

.newsletter button {
  position: absolute;
  left: 80px;
  /* border: none; */
  background-color: #2a31af;
  padding: 8px;
  border-radius: 8px;
  box-shadow: #F7EC09;
  width: 150px;
  height: 50px;
  border: 2px solid yellow;
  color: white;
  font-size: large;
}

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #3B44F6;
  color: white;
}

.footer-container {
  display: grid;
  grid-column-gap: 20px;
  height: 400px;
}

.footer-container .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.about-box {
  position: absolute;
  top: 30px;
  left: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  word-wrap: normal;
  width: 30%;
  height: 300px;
  padding: 10px 20px;
}

.about-box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.about-box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.about-box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #2a31af;
}

.about-box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: yellow;
  top: -10px;
}

.about-box .content p {
  text-align: justify;
}

.about-box .content .social {
  margin: 20px 0 0 0;
}

.about-box .content .social a {
  padding: 0 2px;
}

.about-box .content .social a span {
  height: 40px;
  width: 40px;
  background: #2a31af;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.about-box .content .social a span:hover {
  background: yellow;
}

.address-box {
  position: absolute;
  top: 30px;
  left: 36%;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  height: 250px;
  width: 400px;
  /* border: 2px solid black; */
}

.address-box .content .fas {
  font-size: 16px;
  background: #2a31af;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.address-box .content .fas:hover {
  background: yellow;
}

.address-box .content .text {
  font-size: 16px;
  font-weight: 500;
  padding-left: 10px;
}

.address-box .content .phone {
  margin: 15px 0;
}

.contact-box {
  position: absolute;
  top: 30px;
  left: 69%;
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 400px;
}

.contact-box form .text {
  font-size: 16px;
  margin-bottom: 2px;
}

.contact-box form .msg {
  margin-top: 10px;
}

.contact-box form input,
.contact-box form textarea {
  width: 90%;
  font-size: 16px;
  background: white;
  padding-left: 10px;
  border: 1px solid #222222;
}

.contact-box form input:focus,
.contact-box form textarea:focus {
  outline-color: #3498db;
}

.contact-box form input {
  height: 35px;
}

.contact-box form .btn {
  margin-top: 10px;
}

.contact-box form .btn button {
  height: 40px;
  width: 80%;
  border: none;
  outline: none;
  background: #3498db;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
  border-radius: 20px;
  margin: 2% 5%;
  color: white;
}

.contact-box form .btn button:hover {
  background: yellow;
  color: #3a42da;
}

.cr {
  padding: 5px;
  font-size: 16px;
  background: #3a42da;
  color: white;
}


@media screen and (max-width: 600px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .footer-container {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer-container .about-box p{
    margin: 5px 0;
    flex-wrap: wrap;
    font-size: 10px;
    width: 100px;
  }

  .footer-container .about-box .fab{
    margin: 5px 0;
    font-size: 8px;
    opacity: 0;
  }

  .footer-container .about-box .content {
    width: 100px;
  }

  .footer-container .address-box .text{
    margin: 5px 0;
    opacity: 0;
  }

  .footer-container .contact-box {
    margin: 5px 0;
    width: 100px;
  }

  .cr {
    font-size: 10px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 900px) {
    .footer-container .address-box .text{
      margin: 5px 0;
      font-size: 12px;
      flex-wrap: wrap;
      flex-direction: column;
    }
}